body {
  font-family: monospace;
}
.app {
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%;
}
.palette {
  display: grid;
}
.colour {
  color: white;
  background-color:rgb(0,0,0);
  font-size: 1.5em;
  text-align: center;
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: 1fr 3em 3em 3em 1fr;
  align-content: center;
  text-shadow: 0 0 2px #000;
}
.colour > :first-child {
  text-align: right;
  align-self: center;
}
.colour > :last-child {
  text-align: left;
  align-self: center;
}
.channel {
  text-align: center;
}
.btn, .txt {
  font: 1.5em monospace;
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}
.btn {
  font-size: 1em;
  border-radius: 0;
  line-height: 1;
}